html,body {
  background-color: #AFDBF5;
  font-family: 'Helvetica';
  display: flex;
  align-items: center;
  margin: auto;
}

.App {
  text-align: center;
}

h1 {
  background-color: white;
  padding: 13px;
  border-radius: 20px;
  width:500px;
  margin-left: auto;
  margin-right: auto;
}

.note {
  background-color: #FAF8DB;
  width:250px;
  margin: 20px;
  padding: 30px;
}

.input {
  border-radius: 20px;
  align-items: center;
  padding:20px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 500px;
}

.input label {
  margin: 5px;
  display: block;
  text-align: left;
  width: 300px;
}

.input input, .input textarea {
  font-family: 'Helvetica';
  margin: 5px;
  display: block;
  text-align: left;
  width: 300px;
  border-radius: 5px;
}

.note button {
  background-color: transparent;
  border-width: 0px;
  font-family: 'Gill Sans';
  display: flex;
  padding: 10px;
  width: 35px;
  justify-content: center;
  border-radius: 7px;
  margin-left: 90%;
}

.note button:hover {
  background-color: #e8e4be;
}